@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.75rem;
  --background: oklch(0.982 0.02 110.42);
  --foreground: oklch(0.289 0.052 144.72);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.289 0.052 144.72);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.289 0.052 144.72);
  --primary: oklch(0.582 0.142 149.84);
  --primary-foreground: oklch(0.985 0.02 109.71);
  --secondary: oklch(0.907 0.062 100.11);
  --secondary-foreground: oklch(0.289 0.052 144.72);
  --muted: oklch(0.949 0.03 109.97);
  --muted-foreground: oklch(0.512 0.033 142.51);
  --accent: oklch(0.948 0.046 106.8);
  --accent-foreground: oklch(0.289 0.052 144.72);
  --destructive: oklch(0.593 0.195 27.3);
  --border: oklch(0.902 0.023 119.23);
  --input: oklch(0.902 0.023 119.23);
  --ring: oklch(0.683 0.119 148.53);
  --chart-1: oklch(0.651 0.188 149.2);
  --chart-2: oklch(0.769 0.164 109.7);
  --chart-3: oklch(0.585 0.128 64.13);
  --chart-4: oklch(0.745 0.213 86.76);
  --chart-5: oklch(0.542 0.091 230.25);
  --sidebar: oklch(0.976 0.018 110.13);
  --sidebar-foreground: oklch(0.289 0.052 144.72);
  --sidebar-primary: oklch(0.582 0.142 149.84);
  --sidebar-primary-foreground: oklch(0.985 0.02 109.71);
  --sidebar-accent: oklch(0.93 0.04 114.13);
  --sidebar-accent-foreground: oklch(0.289 0.052 144.72);
  --sidebar-border: oklch(0.893 0.018 118.64);
  --sidebar-ring: oklch(0.683 0.119 148.53);
}

.dark {
  --background: oklch(0.222 0.042 142.6);
  --foreground: oklch(0.985 0.014 112.5);
  --card: oklch(0.285 0.039 146.68);
  --card-foreground: oklch(0.985 0.014 112.5);
  --popover: oklch(0.285 0.039 146.68);
  --popover-foreground: oklch(0.985 0.014 112.5);
  --primary: oklch(0.74 0.138 149.84);
  --primary-foreground: oklch(0.222 0.042 142.6);
  --secondary: oklch(0.318 0.018 140.78);
  --secondary-foreground: oklch(0.985 0.014 112.5);
  --muted: oklch(0.318 0.016 140.78);
  --muted-foreground: oklch(0.683 0.031 144.17);
  --accent: oklch(0.372 0.027 136.12);
  --accent-foreground: oklch(0.985 0.014 112.5);
  --destructive: oklch(0.542 0.177 28.09);
  --border: oklch(0.318 0.018 140.78);
  --input: oklch(0.361 0.022 138.74);
  --ring: oklch(0.683 0.119 148.53);
  --chart-1: oklch(0.7 0.18 149.2);
  --chart-2: oklch(0.589 0.128 64.13);
  --chart-3: oklch(0.54 0.099 231.89);
  --chart-4: oklch(0.637 0.208 84.85);
  --chart-5: oklch(0.704 0.205 105.66);
  --sidebar: oklch(0.222 0.042 142.6);
  --sidebar-foreground: oklch(0.985 0.014 112.5);
  --sidebar-primary: oklch(0.74 0.138 149.84);
  --sidebar-primary-foreground: oklch(0.222 0.042 142.6);
  --sidebar-accent: oklch(0.318 0.016 140.78);
  --sidebar-accent-foreground: oklch(0.985 0.014 112.5);
  --sidebar-border: oklch(0.381 0.017 138.4);
  --sidebar-ring: oklch(0.683 0.119 148.53);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
